<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>Some Website</title>
    </head>
    <body>
        {{> header}} <!-- use partials like this -->
        {{> project_links}}
        
        {{> footer}} <!-- use partials like this -->
    </body>
</html>